*{
      margin: 0px;
      padding: 0px;
}
body {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.454), rgb(255, 255, 255)), 
              url('./src/assets/pictures/mapview.jpg');     


  
}
