@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
      font-family: Poppins, sans-serif;
}
.nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(120deg, rgba(172, 225, 225, 0.7), rgb(39, 148, 151), rgba(0, 50, 50, 0.894));

      backdrop-filter: blur(2px);
      border-radius: 1rem;
      padding: 1rem 3rem;
      margin: 1rem;
      margin-bottom: 0rem;
}
.heading{
      color: whitesmoke;
      font-size: 2.5rem;
      background: linear-gradient(125deg, rgba(16, 60, 61, 0.82), rgb(52, 118, 118), rgb(80, 160, 160), rgb(19, 53, 57));

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

}
.options{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:2rem;
      color: white;
}
.options span{
      font-size: 1.5rem;
      transition: all 0.3s;
}
span:hover{
      scale: 1.1;
}
.login{
       background-color: rgba(255, 255, 255, 0.062);
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
}

.login:hover{
     
      background-color: rgba(255, 255, 255, 0.307);
      border: 1px solid white;
}
.login p:hover{
      color: white;
}
.userImage{
      height: 3rem;
      width: 3rem;
      border: 3px solid rgba(255, 255, 255, 0.796);
      border-radius: 50%;
}
.userImage:hover{
      border: 3px solid white;
}